bin/
obj/
*.user
*.suo
*.userprefs
.vscode/
.idea/
*.DotSettings.user
*.DS_Store
**/*.tar
**/*.tar.gz
DockerWithNoOtherDependencies/**/*.zip
DockerWithNoOtherDependencies/**/images/
/data/*.db
/data/*.db-wal
/data/*.db-shm
/src/ImportForge.Api/data/*.db
/src/ImportForge.Api/data/*.db-wal
/src/ImportForge.Api/data/*.db-shm